<!DOCTYPE html>
<html>
  <head>
    <title>Open File</title>
  </head>
  <body>

    <input type="file" id="file-input" />
    <h3>Contents of the file:</h3>
    <pre id="file-content"></pre>

    <script>
    var content;
    function readSingleFile(e) {
    var file = e.target.files[0];
    if (!file) {
      return;
    }
    var reader = new FileReader();
    reader.onload = function(e) {
      var contents = e.target.result;
      displayContents(contents);
      window.opener.content=contents;
      console.log(window.opener.content);
    };
    reader.readAsText(file);
    //window.close();
  }
 /*
  function displayContents(contents) {
    var element = document.getElementById('file-content');
    element.innerHTML = contents;

  }*/

  document.getElementById('file-input')
    .addEventListener('change', readSingleFile, false);



</script>

  </body>
</html>
