<!DOCTYPE html >
<html>
<head>
<title>Tab Panel</title>

<script src="tabs.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="tabs.css" />
<style>

body
{
    margin-left: 5px;
    margin-top: 100px;
    width: 800px;
    height: 500px;
    font-size:150%;
    font-family: arial, sans;
    background-color: #FFF;
}

.legal
{
    text-align:center;
    font-size: 80%;
    color: #666;
}

</style>



</head>


<body>
<div id="content">



<div id="tabs">
<ul>

     <li><a href="#" rel="tab-textEditor.html" class="selected"  onclick="loadit(this)">Text Editor</a></li>
     <li><a href="#" rel="tab-interractions.html" onClick="loadit(this)">Interractions</a></li>

</ul>
<iframe id="container"></iframe>
</div>


</body>
</html>
