 @import "reset"


 html,body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    height: 100%;
    width:100%;
    overflow:hidden;
 }

 div {
   vertical-align: middle;
 }

 textarea {
   width:100%;
   height:100%;
   border:none;
   margin:0;
   resize: none;
   box-sizing: border-box;
   font-family:"Courier New", Courier, monospace;
   background-color:rgb(200, 255, 252);
   font-size: 13pt;
 }

 textarea.error {
   background-color:rgb(255, 191, 191);
 }

 textarea:focus, input:focus{
    outline: 0;
}

span {
  display: inline-block;
  vertical-align: middle;
  text-align:center;
  line-height:normal;
}

.CodeEditor {
  display:inline-block;
float:left;
width:50%;
height:100%;
background-color:rgb(116, 244, 255);

}

.TraceViewer {
  display:inline-block;
float:left;
width:50%;
height:100%;
background-color:rgb(255, 250, 178);
vertical-align: middle;
text-align:center;
display:table-cell;
overflow:auto;
}

.Main {
  position:absolute;
  left:0px;
  right:0px;
width:100%;
height:100%;
background-color:rgb(255, 178, 254);
}

.Tabs {
width:100%;
height:60px;
float: left;
}

.Tab {
  display:inline-block;
width:50%;
height:100%;
margin:0;
vertical-align: middle;
text-align:center;
line-height:60px;
}

.Tab.active {
  background-color:rgb(200, 255, 252);
}

.Tab:hover {
  background-color:rgb(135, 171, 255);
}

.TabContent {
  float:left;
width:100%;
height:calc(100% - 60px);
}

// @import "fixed-data-table.css"
