{
  "ignore": ["node_modules/**"],
  "env": {
    "test": {
      "presets": ["stage-0", "react", "env"],
      "plugins": [["flow-runtime"], "transform-decorators-legacy"]
    },
    "production": {
      "plugins": [
        ["flow-runtime"],
        "transform-decorators-legacy",
        "external-helpers"
      ],
      "presets": [
        "stage-0",
        "react",
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 Chrome versions"]
            },
            "modules": false
          }
        ]
      ]
    }
  }
}
