{
  "ignore": ["node_modules/**"],
  "env": {
    "test": {
      "presets": ["flow", "env", "stage-0"]
    },
    "production": {
      "plugins": ["external-helpers"],
      "presets": [
        "flow",

        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 Chrome versions"]
            },
            "modules": false
          }
        ],
        "stage-0"
      ]
    }
  }
}
